/node_modules
/vendor
/public/storage
/public/themes_image/featured_image
/public/themes_image/theme_gallery
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
